span {
  margin-top: 2.6rem;
  list-style: none;
  margin-top: 2.6rem;
  list-style: none;
  font-size: 30px;
}
.toDo {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #ff6666;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}
.img {
  width: 20px;
}
span .iconDone {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: white;
}

span .iconEdit {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: white;
}
span .iconDelete {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: white;
}
